$blue: #042b62;

body,
html {
  overflow-x: hidden;
  &.overflow {
    overflow: hidden !important;
  }
}

body {
  @include flex;
  @include dir-col;
  @include justify-between;
  min-height: 100vh;
  font-family: "Atyp Regular Variable";
  background: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Atyp Regular Variable";
}

input,
textarea {
  border: none;
  &:focus {
    outline: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
  &:focus {
    outline: none;
    border: none;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 100%;
  color: $blue;
  font-weight: normal;
  @media (max-width: 1200px) {
    font-size: 50px;
  }
  @media (max-width: 1024px) {
    font-size: 40px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
    margin-bottom: 20px;
  }
  &.white {
    color: white;
  }
}

.tabs {
  width: 100%;
}

.tab-list {
  display: flex;
  flex-wrap: wrap;
}

.tab-list li {
  padding: 15px 30px;
  background: #b0b0b0;
  cursor: pointer;
  transition: 0.3s;
  margin-right: 12px;
  margin-bottom: 12px;
  font-size: 29.545px;
  font-style: normal;
  font-weight: 75;
  line-height: 100%;
  text-transform: lowercase;
  color: white;
  @media (max-width: 1024px) {
    padding: 10px 20px;
    font-size: 24px;
  }
  @media (max-width: 767px) {
    font-size: 16px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 12px;
  }
}

.tab-list li.active {
  background: $blue;
}

/* Стили для содержимого вкладок */
.tab-content {
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
}

.tab-content.active {
  height: auto;
  overflow: visible;
  visibility: visible;
  opacity: 1;
}

.tab-content .panorama {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  @media (max-width: 1024px) {
    height: 500px;
  }
  @media (max-width: 767px) {
    height: 80vw;
  }
}
